<!DOCTYPE html>
<html ng-app="quiz">
	<head>
		<title>Quiz de Filmes</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
		<script src="perguntas.js"></script>
	</head>
	<body ng-controller="QuizController" style="background-size:cover;background-image: url('{{imagem}}');">
		<div style="width: 500px;margin: 55px;padding: 25px;background-color: rgba(255,255,255,0.8);};display:{{visivel}}">
			<h1>{{perguntaAtual.id}} - {{perguntaAtual.pergunta}}</h1>
			<form ng-submit="responder()">
				<input type="radio" ng-model="resposta" value="respA">{{perguntaAtual.respA}}<br>
				<input type="radio" ng-model="resposta" value="respB">{{perguntaAtual.respB}}<br>
				<input type="radio" ng-model="resposta" value="respC">{{perguntaAtual.respC}}<br>
				<input type="radio" ng-model="resposta" value="respD">{{perguntaAtual.respD}}<br>
				<input type="submit" value="Responder">
			</form>
		</div>
		<div style="width: 500px;margin: 55px;padding: 25px;background-color: rgba(255,255,255,0.8);};display:{{resultado}}">
		<h1>Pontos:{{pontos}}</h1>
		<p>{{texto}}</p>
		</div>
	</body>
</html>